* {
    background-color: rgb(77, 77, 77);
    color: rgb(96, 173, 240);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}